@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
}

.box-area{
    width: 930px;
}

.right-box{
    padding: 40px 30px 40px 40px;
}

::placeholder{
    font-size: 16px;
}

.error{
    display: none;
    color: red;
}

@media only screen and (max-width: 768px){
    .box-area{
        margin: 0 10px;
    }

    .left-box{
        height: 100px;
        overflow: hidden;
    }

    .right-box{
        padding: 20px;
    }
}

/* tooltip start */
.custom-tooltip {
    --bs-tooltip-bg: var(--bd-violet-bg);
    --bs-tooltip-color: var(--bs-black);
  }
/* tooltip end */

/* casserole container styles start */
.casserole-container{
    width: 1200px;
    margin:50px auto;
    /* background-color: red; */
}

.casserole-text{
margin: auto 0;;
}
.casserole-text h1{
    margin-bottom: 60px;
}

/* casserole container styles end */

/* why-container  start*/
.why-container{
    width: 1200px;
    margin:50px auto;
    /* background-color: red; */
}

.why-card{
    color: #fff;
    background-color: #1167fd;
}

.card-text{
 font-style: italic;
}
/* why-container end */

/* apart-container start */
.apart-container{
    width: 1200px;
    margin:50px auto;
}
.apart-text h4{
    margin-bottom: 40px;
}
.apart-text ul li:not(:last-child){
    margin-bottom: 30px;
}
/* apart-container end */

.spinner-container{
display: flex;
align-items: center;
justify-content: center;
}

.spinnerr{
    position: absolute;
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
}

.sparkies{
    width: 22px;
    margin-right: 6px;
}

.liveAlertPlaceholder{
    position:absolute;
    top: 0;
    right: 0;
}

.why-margin{margin: 0 20px;
}